{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 card-bg">
        <form action="." method="POST">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          {{ form|bootstrap }}
          <button type="submit" class="btn btn-info" value="Submit
          Button">Logout</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>