{% extends 'forum/base.html' %}

{% block content %}

<div class="row"></div>
<div class="col-*-*">
    <!-- Nav tabs --><div class="card">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab"
               data-toggle="tab">
                Categories
            </a>
        </li>
        <li role="presentation">
            <a href="#profile" aria-controls="profile" role="tab"
            data-toggle="tab">
                Last Posts
            </a>
        </li>
        <li role="presentation">
            <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                Most Liked Posts
            </a>
        </li>
        <li role="presentation">
            <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                Most Viewed Topics
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="list-group">
                {% for obj in object_list %}
                    <a href="{% url "category" pk=obj.pk %}" class="list-group-item">
                        <h4 class="list-group-item-heading">{{obj.title}}</h4>
                        <p class="list-group-item-text">
                            {{ obj.description|truncatewords:15 }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
            <div class="list-group">
                {% for obj in last_posts %}
                        <a href="{% url "topic" pk=obj.topic.pk %}"
                           class="list-group-item">
                            <h4 class="list-group-item-heading">{{ obj.topic.title }}</h4>
                            <p class="list-group-item-text">
                                {{obj.body|truncatewords:25}}
                            </p>
                            <p>{{ obj.created }}</p>
                        </a>
                {% endfor %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="messages">
            <div class="list-group">
                {% for obj in liked_posts %}
                        <a href="{% url "topic" pk=obj.topic.pk %}"
                           class="list-group-item">
                            <h4 class="list-group-item-heading">{{ obj.topic.title }}</h4>
                            <p class="list-group-item-text">
                                {{obj.body|truncatewords:25}}
                            </p>
                            <p>Like: {{ obj.like }}</p>
                        </a>
                {% endfor %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="settings">
            <div class="list-group">
                {% for obj in most_viewed_topics %}
                        <a href="{% url "topic" pk=obj.pk %}"
                           class="list-group-item">
                            <h4 class="list-group-item-heading">{{ obj.title }}</h4>
                            <p>Viewed: {{ obj.viewed }}</p>
                        </a>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</div>
</div>

{% endblock %}

