{% extends 'forum/base.html' %}

{% block content %}
<h1>Kategoriler</h1>
<ul>
    {% for obj in object_list %}
        <li>
            <a href="{% url "category" pk=obj.pk %}">{{obj.title}}</a>
            <p>{{ obj.description|truncatewords:45 }}</p>
        </li>
    {% endfor %}
</ul>
<h1>Son Gönderiler</h1>
<ul>
    {% for obj in posts %}
        <li>
            <a href="{% url "topic" pk=obj.pk %}">
                {{obj.body|truncatewords:15}}</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}