{% extends 'forum/base.html' %}
{% load bootstrap %}

{% block content %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Title
            <a href="?order=title"><i class="fa fa-chevron-up"></i></a>
            <a href="?order=-title"><i class="fa fa-chevron-down"></i></a>
          </th>
          <th>Posts
            <a href="?order=postcount"><i class="fa fa-chevron-up"></i></a>
            <a href="?order=-postcount"><i class="fa fa-chevron-down"></i></a>
          </th>
          <th>Viewed
            <a href="?order=viewed"><i class="fa fa-chevron-up"></i></a>
            <a href="?order=-viewed"><i class="fa fa-chevron-down"></i></a>
          </th>
          <th>Last Post
            <a href="?order=updated"><i class="fa fa-chevron-up"></i></a>
            <a href="?order=-updated"><i class="fa fa-chevron-down"></i></a>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for foo in objects %}
          <tr>
            <td><a href="{% url "topic" slug=foo.slug %}"
            >{{ foo.title }}</a></td>
            <td>{{ foo.posts.all|length }}</td>
            <td>{{ foo.viewed }}</td>
            <td>{{ foo.updated|timesince }} ago</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <hr>
    {% if request.user.is_authenticated %}
    <div class="container">
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-md" data-toggle="modal"
      data-target="#myModal">Open New Topic
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 ">
                    <form action="." method="POST">
                      {% csrf_token %}
                      {{ form|bootstrap }}
                      <button type="submit" class="btn btn-info" value="Submit Button">Save</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

{% endblock %}