{% extends 'forum/base.html' %}
{% load bootstrap gravatar %}

{% block content %}
    <div class="container">
        <div class="date">Page View: {{ object.viewed }}</div>
        <h2 class="media-heading">{{ object.title|title|center:45 }}</h2>
      <hr>
        {% for foo in object_filter %}
          <div class="container">
            <div class="row">
              <div class="col-sm-10 col-md-10">
                <div class="panel panel-white post panel-shadow">
                  <div class="post-heading">
                    <div class="pull-left image">
                      <span class="img-circle avatar">
                        {% gravatar request.user.email 50 g %}
                      </span>
                    </div>
                    <div class="pull-left meta">
                      <div class="title h5">
                          <a href="#"><b>{{ foo.user }}</b></a>
                          made a post.
                      </div>
                      <h6 class="text-muted time">
                        {{ foo.created|timesince }} ago
                      </h6>
                    </div>
                  </div>
                  <div class="post-description">
                    <p>{{ foo.body }}</p>
                    <div class="stats">
                      <button onclick="like(true, {{ foo.id }})" class="btn
                      btn-default stat-item">
                        <i class="fa fa-thumbs-up icon"></i>Like
                      </button>
                      <button onclick="like(false, {{ foo.id }})" class="btn
                      btn-default stat-item">
                        <i class="fa fa-thumbs-down icon"></i>Dislike
                      </button>
                      <button><span id="like_{{ foo.id }}">{{foo.score}}</span></button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
  {% if request.user.is_authenticated %}
    <div class="container">
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-md" data-toggle="modal"
        data-target="#myModal">New Post
        </button>
      <hr>
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;
                    </button>
                    <br>
                    </div>
                    <div class="modal-body">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-6 ">
                          <form action="." method="POST">
                            {% csrf_token %}
                            {{ form|bootstrap }}
                            <button type="submit" class="btn btn-info" value="Submit Button">Save</button>
                          </form>
                        </div>
                      </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endif %}



    <script>
      function like(param, id) {
        $.post({
          data: {
            "like": param,
            "id": id,
            "csrfmiddlewaretoken": getCookie('csrftoken')
          },
          url: "{% url "like_dislike" %}",
          success: function (data) {
            $("#like_"+data.id).text(data.like)
          }
        })
      }
      </script>
{% endblock %}